.wrapper {
  text-align: center;
  width: 450px;
  height: 500px;
  border: #ffffff solid 1px;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px;
}

.error {
  color: red;
}

.form {
  text-align: center;
  margin: auto;
  margin-top: 150px;
  margin-right: 100px;
  align-items: center;
}

.heading {
  cursor: pointer;
}

.active {
  color: blue;
  text-decoration: underline;
}

.title {
  margin: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
