.wrapper {
  text-align: center;
  width: 450px;
  min-height: 250px;
  border: #ffffff solid 1px;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(210, 210, 210);
}

.error {
  color: red;
}

.form {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-right: 20px;
  align-items: center;
}

.heading {
  cursor: pointer;
}

.active {
  color: blue;
  text-decoration: underline;
}

.title {
  margin: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.largeButton {
  width: 200px;
}